<div class="container">
<div class="home-panels clear">
				<div class="panel-1 widget podcast-latest">
					<div class="widget-container">
						<h4 class="widget-title">Dernière Vidéo</h4>					
						
						<article>
							<h2 class="entry-title"><a href="#">L'Advaïta Vedanta - La Voie de la Connaissance</a></h2>
							<p>Il y a certaines philosophies qui ne sont et ne resteront toujours que des idées, et d’autres qui s’expérimentent, et passent du stade d'idée, à celui de Vérité.
</p>
							<%= link_to "Regarder", articles_path, class:"btn arrow" %>

						</article>
					</div>
				</div>
				<div class="panel-2 widget blog-latest">
					<div class="widget-container">
						<h4 class="widget-title">Depuis le Blog</h4>					
						
						<article>
							<h2 class="entry-title"><a href="#">Le Jeune Intermittant - La Méthode Leangains</a></h2>
							<p>Je vais te raconter comment j'ai réussi à perdre 12kg en trois mois, sans même me restreindre.</p>
							<%= link_to "Lire", articles_path, class:"btn arrow" %>

						</article>
					</div>
				</div>
               			

				<div class="panel-4 widget newsletter">
					<div class="widget-container">
						<h4 class="widget-title">Newsletter</h4>
						<article>
							<h2 class="entry-title">Les 10 Traits de Caractère d'un Leader</h2>
							<p>Inscris-toi à notre Newsletter et grandis chaque jour!</p>					
							<%= link_to "S'inscrire", new_user_registration_path, class: "btn arrow"  %>									
						</article>
					</div>
				</div>
			</div>
</div>