<div class="banner">
    <%= video_tag "bg.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video", poster: "trans.jpg" %>
    <div class="content less-high">
        <h1 class="slide-in visible">transcendance</h1>
        <p class="slide-in visible text-white bg-red">(n.) aller au-delà, briser les chaînes
        <p>
    </div>
</div>
</div>