<div class="banner">
    <%= video_tag "bg.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"%>
    <div class="content">
        <h1 class="slide-in visible">transcendance</h1>
        <p class="slide-in visible text-white bg-danger align-right">(n.) aller au-delà, briser les chaînes
        <p>
    </div>
</div>