<div class="body">
    <div class="containercards">
        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>Mental</h3>
                </div>
            </div>


        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>Physique</h3>
                </div>
            </div>

        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>Spirituel</h3>
                </div>
            </div>

        </div>
    </div>
</div>