<div class="body">
    <div class="containercards">
        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>MIND</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Développez votre mental.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>BODY</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Atteignez vos objectifs physiques.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face face1">
                <div class="content1">
                    <h3>SPIRIT</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content1">
                    <p>Étendez votre conscience.</p>
                    <%= link_to "Voir plus", articles_path, class:"read"%>
                </div>
            </div>
        </div>
    </div>
</div>