
<%= image_tag "clouds.jpg", class: "presentationbackground"%>
<div class="container">
<p class="presentationtext">
Un groupe de quatre potes, tous liés par une obsession compulsive à la transformation. On a parcouru la Terre, lu tous ces écrits et rencontrés ces maîtres en leurs domaines, qui bouleversent à jamais tes perceptions de la réalité. <br><br>
Aujourd'hui, on va te partager ce que l'on a appris. Et t'aider à atteindre... la transcendance. <br>
</p>
</div>