.body {
  margin: 0;
  padding: 0;
  min-height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containercards {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  margin-top: -200px;
}

.containercards .card {
  position: relative;
  width: 33.333%;
  margin-top: 100px;
  height: 100px;
}

.containercards .card .face {
  height: 100px;
  transition: 0.5s;
}

.containercards .card .face.face1 {
  position: relative;
  background: #b8002a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(0px);
}

.containercards .card:hover .face.face1 {
  background: #b8002a;
  transform: translateY(0px);
}

.containercards .card .face.face2 {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}
.containercards .card:hover .face.face2 {
  transform: translateY(0);
}
.containercards .card .face.face2 .content1 p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.read {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.read:hover {
  background: #333333;
  color: #ffffff;
}

.content1 {
  width: 100%;
  font-size: 15px;
  color: #333;
}

.containercards .card .face.face1 .content1 {
  opacity: 0.2;
  transition: 0.5s;
}

.containercards .card:hover .face.face1 .content1 {
  opacity: 1;
}

.containercards .card .face.face1 .content1 img {
  max-width: 150px;
  margin-left: 6.5rem;
  color: white;
}

.containercards .card .face.face1 .content1 h3 {
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.content1 h3 {
  padding-top: 40px;
}

.body3 {
  background-color: #e3e7e8;
  padding: 0;
  margin: 0;
}

.container3 {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
}

.card3 {
  background-color: white;
  height: 500px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.photo3 {
  height: 45%;
  width: 100%;
}

.category3 {
  background-color: #e90014;
  color: white;
  height: 30px;
  width: 130px;
  position: absolute;
  font-size: 26px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  left: -15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
