@import url(
  https://fonts.googleapis.com/css?family=Poppins:300,
  400,
  500,
  600|Roboto+Mono
);

@font-face {
  font-family: "Playfair Display Extrabold";
  src: url("app/assets/stylesheets/fonts/PlayfairDisplay-ExtraBold.ttf")
    format("ttf");
}

.less-high {
  padding-bottom: 100px;
}

.logo {
  margin-left: 40px;
  margin-top: 10px;
  justify-self: left;
  width: 80px;
  height: 70px;
  left: 10px;
  position: absolute;
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }
}

/* CARDS MIND/BODY/SPIRIT */

/************************/
/* 	    FOOTER          */
/************************/

.footer {
  background: #f1f1f1;
  padding: 90px 0;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.social-media {
  margin: auto;
  justify-self: center;
}

.social-media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
  justify-self: center;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btnn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.7;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 350px;
  }
}

.finally {
  font-style: italic;
  font-size: 20px;
  color: #808080;
}

.big-words {
  margin-top: 50px;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 50px;
}

.text-primary {
  color: #d8262c;
}

.higher {
  margin-top: -50px;
}

.article-title {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 30px;
  border: none;
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
}

.article-content {
  width: 100%;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 400px;
  position: relative;
  border: none;
  font-family: "Merriweather", serif;
  color: rgba(0, 0, 0, 0.7);
  font-weight: lighter;
  margin-bottom: 50px;
}

.medium-editor-placeholder:after {
  color: #b3b3b1 !important;
}

.article-title::placeholder {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  color: #b3b3b1;
  font-weight: lighter;
}

.article-content::placeholder {
  font-size: 10px;
  font-family: "Merriweather", serif;
  color: #b3b3b1;
  font-weight: lighter;
}

.padding {
  padding: 20px;
  margin-top: -5px;
}

.align-right {
  margin-left: 50%;
}

@media screen and (max-width: 700px) {
  .btn2 {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}

.btn2 {
  display: inline-block;
  position: relative;
  min-width: 130px;
  border: 1px solid #333;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.215em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  color: #333;
}

.btn2.arrow2 {
  padding: 15px 100px;
  border: solid 1px black;
}

.none {
  width: 100%;
  text-decoration: none;
  color: #333;
  font-weight: lighter;
  align-items: center;
  margin: auto;
  padding-bottom: 20px;
  font-size: 12px;
}

.marginplus {
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-image {
  margin: auto;
  justify-content: center;
  align-self: center;
  max-width: 1000px;
}

.containerxxl {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.containersmall {
  width: 680px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-medium h1 {
  font-size: 40px;
}

.containersmall p {
  font-size: 22px;
}

.article-titlee {
  background-color: #d8262c;
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 30px;
}

.index-article-image {
  width: 200px;
  height: auto;
}

.margin {
  margin-top: 10px;
}

.text-white {
  color: #fff;
}

.fullsize {
  z-index: -1;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: -100px;
  padding-top: 100px;
  width: 100%;
  height: auto;
}

.padding-top {
  padding-top: 100px;
}

@media (max-width: 800px) {
  .podcast-media-container {
    display: none;
  }
}

.paddingtop {
  padding: 20px;
}

.bodyy {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}

.no-decoration {
  color: #001a21;
}

.no-decoration:hover {
  color: #d8262c;
}

.littleavatar {
  margin-left: 30px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.italic {
  display: inline-flex;
  justify-content: flex-end;
  font-style: italic;
  padding: 20px;
  line-height: 20px;
}

.o {
  align-items: center;
  margin-left: 10px;
}
.n {
  display: flex;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
user agent stylesheet div {
  display: block;
}
.gu {
  word-wrap: break-word;
}
.gt {
  word-break: break-word;
}

.io {
  height: 48px;
}
.in {
  width: 48px;
}
.cd {
  position: relative;
}

.iu {
  transform: translateX(-50%) translateY(-50%);
}
.it {
  left: 50%;
}
.is {
  top: 50%;
}
.ir {
  height: calc(100% + 25px);
}
.iq {
  width: calc(100% + 25px);
}
.ip {
  fill: rgba(3, 168, 124, 1);
}
.fr {
  flex-direction: row;
}
.ez {
  pointer-events: none;
}
.s {
  position: absolute;
}
.p {
  justify-content: center;
}
.o {
  align-items: center;
  margin-left: 10px;
}
.n {
  display: flex;
}

.io {
  height: 48px;
}
.in {
  width: 48px;
}
.dm {
  border-radius: 50%;
}
.r {
  display: block;
}

.iv {
  margin-left: 12px;
}
.ai {
  width: 100%;
}
.r {
  display: block;
}

.username {
  padding-left: 5px;
}

.followbtn {
  margin-left: 5px;
  padding: 2px 10px;
  color: rgba(0, 125, 184, 1);
  background: none;
  border-radius: 5px;
  border: solid 0.3px rgba(0, 125, 184, 1);
}

.avatar {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.margin {
  margin-left: 10px;
}