
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
					<div class="content">				
																		  
<div class="article">
	<div class="podcast-media-container ">
					<div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/b2nb7Fs4oVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
        </div>
    <div class="podcast-content-container ">
      <header>
        <div class="entry-meta">
          <time class="event-date">June 16, 2020</time>
        </div>
        <h2 class="entry-title">What is Leadership Presence?</h2>		</header>
          <p></p><p>What is “leadership presence”? When you first hear the term, you probably think…</p>
      <p></p>
      <a href="https://goskybound.com/podcasts-videos/leadership-presence-is-more-than-you-think/" class="btn arrow lower">More</a>
    </div>
</div>
</div>
</div>