<center>
</center>
  <div class="footer">
    <center>
      <div class="finally">L'humanité va se retrouver face à un choix brutal: évoluer, ou mourrir.</div>
    <div class="big-words text-primary">Suis-nous.</div>
  </center>
    <div class="footer-container">
        <div class="social-media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>


  </body>
</html>
